<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br> novo item:</h2>
  </header>
  <form>

    <div class="nome-div">
      <label class="padding-label" for="nome-item">Nome do item: </label>
      <input type="textarea" class="input" id="nome-item" name="nome-item" placeholder="Digite o nome do item" [(ngModel)]="item.nome_item">
      <label class="padding-label" for="qnt-item"> Qnt a fazer: </label>
      <input type="number" class="input padding_input_number" id="qnt-item" name="qnt-item" placeholder="Digite a quantidade de itens desejada" [(ngModel)]="item.qnt_item">

      <label class="padding-label" for="coeficiente"> Coeficiente: </label>
      <input type="number" class="input padding_input_number" id="coeficiente" name="coeficiente" [(ngModel)]="item.coeficiente">
    </div>

    <div *ngFor="let receita of item.receitas; let i = index; let last = last" class="receita-div">
      <label for="receita">Receita do item</label><br>
      <label class="padding-label" for="receita-item1">Nome: </label>
      <input type="text" class="input" id="receita-item1" name="receita-nome" placeholder="Receita do item" [(ngModel)]="receita.item">

      <br>

      <label class="padding-label" for="receita-item1"> Qnt de itens: </label>
      <input type="number" class="input padding_input_number" id="qnt-item1" name="receita-item" placeholder="Receita do item" [(ngModel)]="receita.qnt_item">

      <label for="qnt-item-kamas" class="padding-label"> Qnt em Kamas: </label>
      <input type="number" class="input padding_input_number" id="qnt-item-kamas" name="qnt-item-kamas" placeholder="Custo do Item em Kamas" [(ngModel)]="receita.qnt_item_kamas">

      <br>

      <button *ngIf="last" (click)="adicionarReceita()" class="botao botao_margin" >Adicionar Receita</button>
      <button *ngIf="!last" (click)="removerReceita(i)" class="botao botao_margin" >Remover Receita</button>
    </div>

    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio" id="modelo1" value="modelo1" name="modelo-card"  [(ngModel)]="item.modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">{{item.nome_item}}</p>
          <p *ngFor="let receita of item.receitas">Qnt a fazer: {{receita.qnt_item}}</p>
          <p *ngFor="let receita of item.receitas" class="autoria"><b>Qnt de {{receita.item}}: {{item.qnt_item * receita.qnt_item}}</b></p>
          <p *ngFor="let receita of item.receitas" class="autoria"><b>Qnt em Kamas: {{receita.qnt_item * receita.qnt_item_kamas}}</b></p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input type="radio" id="modelo2" value="modelo2" name="modelo-card"  [(ngModel)]="item.modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azuis claro">
          <p class="conteudo">{{item.nome_item}}</p>
          <p *ngFor="let receita of item.receitas">Qnt a fazer: {{receita.qnt_item}}</p>
          <p *ngFor="let receita of item.receitas" class="autoria"><b>Qnt de {{receita.item}}: {{item.qnt_item * receita.qnt_item}}</b></p>
          <p *ngFor="let receita of item.receitas" class="autoria"><b>Qnt em Kamas: {{receita.qnt_item * receita.qnt_item_kamas}}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo3">
          <input type="radio" id="modelo3" value="modelo3" name="modelo-card" [(ngModel)]="item.modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo3.png" alt="Aspas verde">
          <p class="conteudo">{{item.nome_item}}</p>
          <p *ngFor="let receita of item.receitas">Qnt a fazer: {{receita.qnt_item}}</p>
          <p *ngFor="let receita of item.receitas" class="autoria"><b>Qnt de {{receita.item}}: {{item.qnt_item * receita.qnt_item}}</b></p>
          <p *ngFor="let receita of item.receitas" class="autoria"><b>Qnt em Kamas: {{receita.qnt_item * receita.qnt_item_kamas}}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button (click)="criarItem()" class="botao">Salvar</button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
